.sidebar {
    flex: 3;
    height: 380px;
    width: 250px;
    overflow-y: scroll;
    position: sticky;
    top: 150px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68); 
    box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);
    margin: 10px 0;
  
}
button1{
    margin-top: 10px;
    /* width: 100%; */
    background-image: linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%);
    color: #080710;
    padding: 5px 0;
    font-size: px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    
    
}
.profileImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(179, 179, 179);
}

.sidebarWrapper {
    padding: 20px;
}

.sidebarList {
    padding: 20;
    margin: 0;
    list-style: none;
}

.sidebarListItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.sidebarIcon {
    margin-right: 15px;
}

.sidebarButton {
    width: 150px;
    height: 20x;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    background-color: transparent;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68); 
    box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);
}

.sidebarHr {
    margin: 20px 0;
}

.sidebarFriendList {
    padding: 0;
    margin: 0;
    list-style: none;
}

